<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="bg-primary">
      <div class="container text-center">
        <h1>EMBER YOUR RAILS</h1>
      </div>
    </header>
    <div id="article">
      {{ content }}
    </div>
    <script>
      var width = $(window).width()
      if ( width > 899 )
      $( function(){
        $.stellar({
          responsive: true,
          verticalScrolling: true,
          horizontalOffset: 0,
          verticalOffset: 0,
          positionProperty: 'transform',
          });
          });
    </script>
  </body>
</html>
